<div class="sensor-container">
  <div class="enca">
  <h1>Cuenta tus pasos</h1></div>
  <p>Hoy has caminado: {{ stepCount }} pasos</p>
  
  <div>
      <button (click)="resetSteps()">Volver a Caminar </button>
  </div>
    <div class="sensor-section">
        <h2>Acelerómetro</h2>
        <div class="sensor-data">
            <p>X: {{ motionData.acceleration?.x ?? 'No data' }}</p>
            <p>Y: {{ motionData.acceleration?.y ?? 'No data' }}</p>
            <p>Z: {{ motionData.acceleration?.z ?? 'No data' }}</p>
        </div>
    </div>

 

   
</div>